.formaLR{
  position: relative;
  width: 572px;
  height: 200px;
  margin-left: 430px;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 20px;
}
.navRegis{
text-decoration: none;
color: #fff;

}
.wrapLogInOrRegistration{
  position:relative;
  width: 1300px;
  height: 430px;
  background: white;
  margin: auto;

}
.buttonLogReg{
  width: 425px;
  height: 55px;
  margin-left:45px;
  border-radius: 80px;
  margin-top: 25px;
  background:#000;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  color: #fff;
  font-size: 16px;
  
}
.buttonLogReg:hover{
  vertical-align: middle;
  background-color:rgba(229, 55, 124, 100%);
}

.photoLeftLogInOrRegistration{
  position: absolute;
  width: 260px;
  height: 332px;
  top:60px;
  left:50px;
}
.photoRightLogInOrRegistration{
  position: absolute;
  width: 308px;
  height: 410px;
  right: 0px;
  top:2px;
}