.footer{  
    width: 1300px;
    height: 159px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    background: black;
    }
 .nav_list{
        
        justify-content: space-around;
        color: black;      
        margin-top: 50px;
    }

.footer_nav_link{
        text-decoration: none; 
        color: aliceblue;      
    }
 .footer a {
        color: #fff;
        transition: color 0.2s ease;
    }
    
    .footer a:hover {
    
            color:blueviolet ;
    
    } 
.footer_nav_link_lover{
    margin-left: 50px;
    margin-right: 80px;
    justify-content: space-around;
    text-decoration: none; 
}
