.wrapDelivery{
    width: 1300px;
    height: 1400px;
    background: white;
    margin: 0 auto;
}
.titleOfPage{
    font-weight: 400;
    font-size: 64px;
    line-height: 81px;
    /* identical to box height */
    
    text-align: center;
    margin-left: 75px;
    margin-top: 57px;
    margin-bottom: 57px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainContentOfPage{
 margin-left: 60px;
 font-weight: 400;
font-size: 20px;
line-height: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #000000;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: 600;
}
.photoCar{
    position: relative;
    bottom:150px;
    left:900px;
}

/*photo composition */
.photoLeftDelivery{
    position: relative;
    width: 270px;
    height: 342px;
    bottom:340px;
    left:40px;
}
.photoRightDelivery{
    position: relative;
    width: 348px;
    height: 440px;
    left: 710px;
    bottom:280px
}