.wrapTerms{
    position:relative;
    width: 1300px;
    height: 1030px;
    background: white;
    margin: 0 auto;
}
.titleTerms{
    font-weight: 400;
    font-size: 44px;
    line-height: 81px;
    /* identical to box height */
    text-align: center;
    margin-left: 75px;
    margin-top: 17px;
    margin-bottom: 17px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainContentTerms{
 margin-left: 30px;
 font-weight: 400;
font-size: 20px;
line-height: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #000000;
}
.italic{
    font-style: italic;
     margin-left: 100px;
}
.bold{
    font-weight: 600;
    margin-left: 80px;
}



.photoLeftTermsOfSaleOfGoods{
    position: absolute;
    width: 270px;
    height: 342px;
    top:620px;
    left:40px;
}
.photoRightTermsOfSaleOfGoods{
    position: absolute;
    width: 388px;
    height: 480px;
    right: 0px;
    top:530px
} 