.wrapVacanciesPage{
    width: 1300px;
    height: 1000px;
    background: white;
    margin: 0 auto;
}
.titleVacancies{
    font-weight: 400;
    font-size: 64px;
    line-height: 81px;
    text-align: center;
    margin-left: 75px;
    margin-top: 57px;
    margin-bottom: 57px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.boldVacancies{
    font-weight: 600;
}
.italicVacancies{
    font-style: italic;
}
.mainContentVacancies{
font-size: 24px;
}
.leftPartOfVacancies{
    margin-left: 460px;
}
.rightPartOfVacancies{
    margin-left: 660px;
}
.photoLeftVacancies{
    position: relative;
    width: 270px;
    height: 342px;
    bottom:540px;
    left:40px;
}
.photoRightVacancies{
    position: relative;
    width: 348px;
    height: 440px;
    left: 700px;
    bottom:450px
}