.wrapProducts{
    width: 1300px;
    margin: 0 auto;
}


.buttonsAll{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 40px;
}
.buttonsProducts{
   margin-right: 10px;
   width: 170px;
   background-color: #FF5B83;
   color: black;
   font-size: 24px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.clothingButtonWomen{
    position:relative;
    left: -300px; 
}
.clothingButtonMen{
    position:relative;
    left: 250px;
}
.typeOfProduct{
    display: flex;
    justify-content:flex-start;
    width: 150px;
    margin-left: 25px;
    font-size: 20px;
    border: 1px solid white ;
    background-color: #FF5B83 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blocksCategory{
    position: absolute;
    left: 175px;
    top: 0px;
    border: 2px solid #FF5B83;   
}
.blockCategory{
    width: 200px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #FF5B83 ;
    background-color: white ;
}
.allBlockWithPhoto{
    display: flex;
    width: 270px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.photoBlock{
    width: 270px;
    height: 463px;  
}
.photoProducts{
    width: 270px;
    height: 391px;
}

.discriptionProducts{
    width: 270px;
    height: 90px;
    background: linear-gradient(180deg, #C4C4C4 0%, rgba(255, 254, 254, 0) 100%);
    text-decoration:none;
}
.nameProduct{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.priceProduct{
    font-size: 19px;
    color: black;
}
.productBlock{
    text-decoration: none;
}
