.nameProductForSearch{
    cursor: pointer;
    border-right: 1px solid black;
    border-left:  1px solid black;
    border-bottom:  1px solid black;
    color: black;
    background-color: white;
    width: 190px;
    font-size: 15px;
    }
.nameProductForSearch:hover{
    background-color: #FF5B83;
    }
.searchButton{
    background-color: #FF5B83;
}
.showproductsForSearch{
    position:-webkit-sticky;
}
.searchFormINput{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}