.nameProductForSearch{
    cursor: pointer;
    border-right: 1px solid black;
    border-left:  1px solid black;
    border-bottom:  1px solid black;
    color: black;
    background-color: white;
    width: 250px;
    margin-left: 35px;
    font-size: 15px;
    }
.nameProductForSearch:hover{
    background-color: #FF5B83;
    }
.searchButton{
    background-color: #FF5B83;
}
.showproductsForSearch{
    position:-webkit-sticky;
   
}
.searchFormINput{
    border-radius: 20px;
    background-color:#FF5B83;
    width: 250px;
    height: 45px;
    margin-left: 35px;
    border-bottom: black 3px;
    font-size: 20px;
    color: black;
}